<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" >Rota Oluştur</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" (click)="rbActive()">Rota Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="showRoutes()" >Geçmiş Rotalarım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="showMap()" >Harita Göster</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="displayRouteTable">

  <div class="card">
    <p-table [value]="routeList" sortField="route.routeId" sortMode="single" dataKey="route.routeId" rowGroupMode="subheader" groupRowsBy="route.routeId" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#ID</th>
          <th>Şehir</th>
          <th>İlçe</th>
          <th>Mahalle</th>
          <th>Sokak</th>
          <th>Bina No</th>
          <th>Daire No</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-route let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
          <td colspan="5">
            <button type="button" pButton pRipple [pRowToggler]="route" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            <span class="font-bold ml-2">{{formatRouteDate(route.route.routeId)}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-route>
        <tr class="p-rowgroup-footer">
          <td colspan="4" style="text-align: right">Toplam Adres</td>
          <td>{{calculateAddressTotal(route.route.routeId)}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-route>
        <tr>
          <td>
            {{route.addressId}}
          </td>
          <td>
            {{route.sehir}}
          </td>
          <td>
            {{route.ilce}}
          </td>
          <td>
            {{route.mahalle}}
          </td>
          <td>
            {{route.sokak}}
          </td>
          <td>
            {{route.binaNo}}
          </td>
          <td>
            {{route.daireNo}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>



<div *ngIf="rbClick">
  <app-address (msgEvent)="receiveValue($event)"></app-address>
</div>


<p-dialog [(visible)]="displayMap" [maximizable]="true" [style]="{width: '100%',height:'100%'}">
  <div>
    <p>Total Distance: <span id="total"></span></p>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude"
           (mapReady)="onMapReady($event)"
           [disableDoubleClickZoom]="true"
  >

    <div *ngIf="!directionDisplay">
      <agm-marker  [latitude]="latitude" [longitude]="longitude" [iconUrl]="icon"></agm-marker>
<!--      <agm-marker  *ngFor="let waypoint of locations" [latitude]="waypoint.lat" [longitude]="waypoint.lng"></agm-marker>-->
    </div>
    <agm-direction *ngIf="directionDisplay"
                   [origin]="origin"
                   [destination]="destination"
                   [waypoints]="waypoints"
                   [renderOptions]="renderOptions"
                   (onResponse)="onResponse($event)"

    >


    </agm-direction>
  </agm-map>
</p-dialog>




