<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">Araçlar</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " (click)="vehicleAddPage()">Araç Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="vehicleListPage()">Araç Listesi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<main *ngIf="vehicleAddPageClick" class="form-signin w-100 m-auto text-center">
  <form #vehicleAddForm="ngForm" (ngSubmit)="add(vehicleAddForm)">
    <br>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Adı" #name="ngModel" [(ngModel)]="vehicle.name" class="form-control"
             name="name" id="name" required>
      <label for="name">Araç Adı</label>
    </div>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Modeli" #model="ngModel" [(ngModel)]="vehicle.modelName" class="form-control"
             name="model" id="model" required>
      <label for="model">Araç Modeli</label>
    </div>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Plakası" #license="ngModel" [(ngModel)]="vehicle.license"
             class="form-control"
             name="license" id="license" required>
      <label class="form-label" for="license">Araç Plakası</label>
    </div>

    <br>
    <button type="submit" class="btn btn-primary" [disabled]="vehicleAddForm.invalid">Araç Ekle</button>

  </form>
</main>

<div *ngIf="vehicleListPageClick">
  <p-table [value]="vehicleList" styleClass="p-datatable-lg" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="table-header">
        Müsait Araçlar
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Araç Adı</th>
        <th>Araç Modeli</th>
        <th>Araç Plakası</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
      <tr>
        <td>{{vehicle.name}}</td>
        <td>{{vehicle.modelName}}</td>
        <td>{{vehicle.license}}</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [first]="first" [rows]="10" [totalRecords]="totalVehicles" [rowsPerPageOptions]="[10,20,30]"
               (onPageChange)="onPageChange($event)"></p-paginator>

</div>
