<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" >Araçlar</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  (click)="vehicleAddPage()">Araç Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="routeAssignmentPage()" >Rota Ataması</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main *ngIf="vehicleAddPageClick" class="form-signin w-100 m-auto text-center">
  <form #vehicleAddForm="ngForm" (ngSubmit)="add(vehicleAddForm)">
    <br>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Adı" #name="ngModel" [(ngModel)]="vehicle.name" class="form-control"
             name="name" id="name" required>
      <label for="name">Araç Adı</label>
    </div>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Modeli" #model="ngModel" [(ngModel)]="vehicle.modelName" class="form-control"
             name="model" id="model" required>
      <label for="model">Araç Modeli</label>
    </div>
    <div class="form-label-group form-floating mb-4">
      <input type="text" placeholder="Araç Plakası" #license="ngModel" [(ngModel)]="vehicle.license" class="form-control"
             name="license" id="license" required>
      <label for="license">Araç Plakası</label>
    </div>

    <br>
    <button type="submit" class="btn btn-primary" [disabled]="vehicleAddForm.invalid">Araç Ekle</button>

  </form>
</main>

<div *ngIf="displayRouteTable">
  <p-table  [value]="routeList" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Rota Adı</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Toplam Mesafe</th>
        <th>Ortalama Süre</th>
        <th ></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{route.name}}</td>
        <td>{{dateService.formatRouteDate(route.routeId,routeList,'start')}}</td>
        <td>{{dateService.formatRouteDate(route.routeId,routeList,'end')}}</td>
        <td>{{route.averageDistance/1000}} km</td>
        <td>{{dateService.secondsToDayHourMinute(route.averageDuration)}}</td>
        <td >
          <button style="margin-right: 1mm" pButton pRipple icon="pi pi-map-marker" class="p-button-rounded p-button-help" (click)="showRouteMap(route)"></button>
          <button pButton pRipple icon="pi pi-home" class="p-button-rounded p-button-secondary" (click)="showRouteDetail(route)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<p-dialog [(visible)]="displayRouteDetail">
  <table class="table">
    <thead>
    <tr>
      <th>Sıra</th>
      <th>Şehir</th>
      <th>İlçe</th>
      <th>Mahalle</th>
      <th>Sokak</th>
      <th>Bina No</th>
      <th>Daire No</th>
      <th style="width: 8rem"></th>
    </tr>
    </thead>

    <tbody class="table-group-divider">
    <tr>
      <td>İlk Durak</td>
      <td>{{selectedRoute?.origin.address.sehir}}</td>
      <td>{{selectedRoute?.origin.address.mahalle}}</td>
      <td>{{selectedRoute?.origin.address.ilce}}</td>
      <td>{{selectedRoute?.origin.address.sokak}}</td>
      <td>{{selectedRoute?.origin.address.binaNo}}</td>
      <td>Depo Adı: {{selectedRoute?.origin.name}}</td>
    </tr>
    <tr *ngFor="let address of addressList">
      <td>{{address.orderNo}}</td>
      <td>{{address.sehir}}</td>
      <td>{{address.ilce}}</td>
      <td>{{address.mahalle}}</td>
      <td>{{address.sokak}}</td>
      <td>{{address.binaNo}}</td>
      <td>{{address.daireNo}}</td>
    </tr>
    <tr>
      <td>Son Durak</td>
      <td>{{selectedRoute?.destination?.address.sehir}}</td>
      <td>{{selectedRoute?.destination?.address.ilce}}</td>
      <td>{{selectedRoute?.destination?.address.mahalle}}</td>
      <td>{{selectedRoute?.destination?.address.sokak}}</td>
      <td>{{selectedRoute?.destination?.address.binaNo}}</td>
      <td>Depo Adı: {{selectedRoute?.destination?.name}}</td>
    </tr>

    </tbody>

  </table>
</p-dialog>
