<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">Rota</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" (click)="rbActive()">Rota Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="showRoutes()">Tüm Rotalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showNotAssignmentRoutes()">Görevlendirilmemiş Rotalar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div *ngIf="displayRouteTable">
  <p-table [value]="routeList" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Rota Adı</th>
        <th>Tarih</th>
        <th>Toplam Mesafe</th>
        <th>Ortalama Süre</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{route.name}}</td>
        <td>{{dateService.formatRouteDate(route.routeId, routeList, 'start')}}</td>
        <td>{{(route.averageDistance / 1000).toFixed(2)}} km</td>
        <td>{{dateService.secondsToDayHourMinute(route.averageDuration)}}</td>
        <td>
          <button style="margin-right: 1mm" pButton pRipple icon="pi pi-map-marker"
                  class="p-button-rounded p-button-help" (click)="showRouteMap(route)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [first]="first" [rows]="10" [totalRecords]="totalAllRoute" [rowsPerPageOptions]="[10,20,30]"
               (onPageChange)="onPageChange($event)"></p-paginator>

</div>


<div *ngIf="rbClick">
  <app-address (msgEvent)="receiveValue($event)"></app-address>
</div>


<p-dialog [(visible)]="displayMap" [maximizable]="true" [style]="{width: '100%',height:'100%'}">
  <div>
    <p>Total Distance: <span id="total"></span></p>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude"
           (mapReady)="onMapReady($event)"
           [disableDoubleClickZoom]="true"
  >

    <agm-direction *ngIf="directionDisplay"
                   [origin]="originLatlng"
                   [destination]="destinationLatlng"
                   [waypoints]="waypoints"
                   [renderOptions]="renderOptions"
                   (onResponse)="onResponse($event)">

    </agm-direction>
  </agm-map>

</p-dialog>

<div *ngIf="displayNotAssignmentRoutesTable">
  <p-table [value]="notAssignedRouteList" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="table-header">
        Görevlendirilmemiş Rotalar
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Rota Adı</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Toplam Mesafe</th>
        <th>Ortalama Süre</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{route.name}}</td>
        <td>{{dateService.formatRouteDate(route.routeId, notAssignedRouteList, 'start')}}</td>
        <td>{{dateService.formatRouteDate(route.routeId, notAssignedRouteList, 'end')}}</td>
        <td>{{(route.averageDistance / 1000).toFixed(2)}} km</td>
        <td>{{dateService.secondsToDayHourMinute(route.averageDuration)}}</td>
        <td>
          <button style="margin-right: 1mm" pButton pRipple icon="pi pi-map-marker"
                  class="p-button-rounded p-button-help" (click)="showRouteMap(route)"></button>
          <button pButton pRipple icon="pi pi-car" class="p-button-rounded p-button-danger"
                  (click)="availableVehicles(route)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [first]="first2" [rows]="10" [totalRecords]="totalNotAssignmentRoute" [rowsPerPageOptions]="[10,20,30,1]"
               (onPageChange)="onPageChange2($event)"></p-paginator>
</div>

<p-dialog [(visible)]="displayRouteMap" [modal]="true" [resizable]="false"
          [maximizable]="true" [style]="{width: '65%',height:'100%'}">

  <table class="table mb-4 mt-4">
    <thead>
    <tr>
      <th>Sıra</th>
      <th>Şehir</th>
      <th>İlçe</th>
      <th>Mahalle</th>
      <th>Sokak</th>
      <th>Bina No</th>
      <th>Daire No</th>
      <th style="width: 8rem"></th>
    </tr>
    </thead>

    <tbody class="table-group-divider">
    <tr>
      <td>İlk Durak</td>
      <td>{{selectedRoute?.origin.address.sehir}}</td>
      <td>{{selectedRoute?.origin.address.mahalle}}</td>
      <td>{{selectedRoute?.origin.address.ilce}}</td>
      <td>{{selectedRoute?.origin.address.sokak}}</td>
      <td>{{selectedRoute?.origin.address.binaNo}}</td>
      <td>Depo Adı: {{selectedRoute?.origin.name}}</td>
    </tr>
    <tr *ngFor="let address of addressList">
      <td>{{address.orderNo}}</td>
      <td>{{address.sehir}}</td>
      <td>{{address.ilce}}</td>
      <td>{{address.mahalle}}</td>
      <td>{{address.sokak}}</td>
      <td>{{address.binaNo}}</td>
      <td>{{address.daireNo}}</td>
    </tr>
    <tr>
      <td>Son Durak</td>
      <td>{{selectedRoute?.destination?.address.sehir}}</td>
      <td>{{selectedRoute?.destination?.address.ilce}}</td>
      <td>{{selectedRoute?.destination?.address.mahalle}}</td>
      <td>{{selectedRoute?.destination?.address.sokak}}</td>
      <td>{{selectedRoute?.destination?.address.binaNo}}</td>
      <td>Depo Adı: {{selectedRoute?.destination?.name}}</td>
    </tr>

    </tbody>

  </table>

  <div id="directions-panel"></div>

  <agm-map [latitude]="40.99246515999449" [longitude]="29.4352343256"
           (mapReady)="onMapReady2($event)"
           [disableDoubleClickZoom]="true">
  </agm-map>


</p-dialog>

<p-dialog [(visible)]="displayAvailableVehicleTable" [modal]="true" [resizable]="false">
  <div *ngIf="displayAvailableVehicleTable">
    <p-table [value]="availableVehicleList" responsiveLayout="scroll" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="table-header">
          Müsait Araçlar
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Araç Adı</th>
          <th>Araç Modeli</th>
          <th>Araç Plakası</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
        <tr>
          <td>{{vehicle.name}}</td>
          <td>{{vehicle.modelName}}</td>
          <td>{{vehicle.license}}</td>
          <td>
            <button pButton pRipple icon="pi pi-car" class="p-button-rounded p-button-success"
                    (click)="selectVehicle(vehicle)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</p-dialog>
<!--<pre>{{routeList | json }}</pre>-->


